<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="WSFData" providerName="System.Data.SqlClient" connectionString="Data Source=47.107.85.104;Initial Catalog=WSFData;Persist Security Info=True;User ID=sa;Password=qq@19971218"/>
    <add name="MySql" connectionString="Server=localhost;Database=world;User=root;Password=qq@19971218" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>