<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DB_MSSQL_GPS" connectionString="Data Source=39.108.83.98;Initial Catalog=GPS;Persist Security Info=True;User ID=sa;Password=Yho1234qwer" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>